<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <div class="home-page">

        <div class="teacher card">
            <a href="/teacher">
                <img src="https://as1.ftcdn.net/v2/jpg/02/65/18/30/1000_F_265183061_NkulfPZgRxbNg3rvYSNGGwi0iD7qbmOp.jpg"
                    alt="Teacher Image">
            </a>
            <h1>Are you a Teacher?</h1>
        </div>

        <div class="student card">
            <a href="/student">
                <img src="https://as1.ftcdn.net/v2/jpg/03/29/90/02/1000_F_329900277_onb2f5o9N9cln6c7P0Gd0GDlSftYvmea.jpg"
                    alt="Student Image">
            </a>
            <h1>Are you a Student?</h1>
        </div>
    </div>
</body>

</html>